contact-management-sys-api/src/main/mule/contact-management-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="contact-management-sys-api-main">
        <http:listener config-ref="contact-management-sys-api-httpListenerConfig" path="/${secure::http.api.path}/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="contact-management-sys-api-config" />
		<error-handler ref="api_error_handler" />
        
    </flow>
    
    <flow name="contact-management-sys-api-console">
        <http:listener config-ref="contact-management-sys-api-httpListenerConfig" path="/${secure::http.api.path}/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="contact-management-sys-api-config" />
        <error-handler ref="api_error_handler" />
    </flow>
    
    <flow name="get:\v1\contact:contact-management-sys-api-config">
		<flow-ref doc:name="retrieve-contacts-flow" doc:id="da66abb7-cd58-47ef-ba80-468688bf1692" name="retrieve-contacts-flow"/>
    </flow>
	<flow name="post:\v1\contact:application\json:contact-management-sys-api-config">
		<flow-ref doc:name="create-contact-flow" doc:id="59a13bf0-dbc6-4e0c-abfc-977904824951" name="create-contact-flow"/>
    </flow>
	<flow name="put:\v1\contact:application\json:contact-management-sys-api-config">
		<flow-ref doc:name="update-contacts-flow" doc:id="ad0079a6-eb14-4575-8eac-f8c4288bf8e1" name="update-contacts-flow"/>
    </flow>
    
    
    <flow name="delete:\v1\contact:contact-management-sys-api-config">
		<flow-ref doc:name='delete-contacts-flow' doc:id="f8103bc9-2c92-4f06-8125-c033bfcb9405" name="delete-contacts-flow"/>
    </flow>
</mule>
